/* Ce fichier CSS est relié au fichier HTML regionlist et pokemonlist */

/*Importation des polices */

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html{ 
    scroll-behavior: smooth; /* Comportement de défilement fluide */
}
       

/* Définition des styles pour l'élément <html> */
html {
    scroll-behavior: smooth; /* Comportement de défilement fluide */
}

/* Définition des styles pour l'élément <body> */
body {

    font-family: 'Montserrat', sans-serif; 
    margin: 50px;/* Marge extérieure nul */
    padding: 50px;/* Espacement intérieur nul */
    font-family: 'Montserrat', sans-serif;/* Utilisation de la police Montserrat ou une police sans-serif par défaut */
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #bbbbbb 0%, #b43daa  50%, #ff7ceb 100%); /* Définition d'un dégradé linéaire de couleur */
    justify-content: center;
    
    
}

#trigger { /* On définit les styles pour l'élément ayant l'identifiant "trigger" */
    position: fixed; /* Positionnement fixe */
    bottom: 0; /* Positionné en bas */
    right: 0; /* Positionné à droite */
    margin: 20px; /* Marge de 20px */
}

.wrapper {
    display: flex;
    flex-wrap : warp
}

.wrapper > div {
    border: 4px solid gray;
    background: #eee;
    width: 500px;
}