@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;
    background-image: linear-gradient(180deg, #3f3f3f 0%, #b43daa  50%, #ff7ceb 100%);
}

#searchInput {
    padding: 8px;
    width: 200px;
}
  
#searchButton {
    padding: 8px;
    cursor: pointer;
}

.search-class {
    text-align: center;
    margin-top: 20px; 
    position: relative;
  }
  
.search-results {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 10px;
    display: none; 
    max-width: 300px; 
}


 

  