/* Ce fichier CSS est relié au fichier HTML search_région */

/*Importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

html{
    scroll-behavior: smooth; /* Comportement de défilement fluide */
}
       

/* Définition des styles pour l'élément <html> */
html {
    scroll-behavior: smooth; /* Comportement de défilement fluide */
}

/* Définition des styles pour l'élément <body> */
body {

    font-family: 'Montserrat', sans-serif; 
    margin: 50px;/* Marge extérieure nul */
    padding: 50px;/* Espacement intérieur nul */
    font-family: 'Montserrat', sans-serif;/* Utilisation de la police Montserrat ou une police sans-serif par défaut */
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #e0dede 0%, #b43daa  50%, #ff7ceb 100%); /* Définition d'un dégradé linéaire de couleur */
    justify-content: center;
    
    
}

/* Définition des styles pour l'élément <nav> */
nav {
    display: flex; /* Utilisation du modèle de disposition flexbox */
    flex-wrap: wrap; /* Les objets vont s'envelopper sur plusieurs lignes si nécessaire */
    justify-content: center; /* Les objets sont centrés horizontalement */
    align-items: center; /* Alignement des objets au centre sur l'axe transversal */
    border-bottom: 5px solid #b43daa; /* Bordure inférieure de 5 pixels solide avec la couleur #b43daa */
}

nav {
    display: flex; /* Utilisation du modèle de disposition flexbox */
    flex-wrap: wrap; /* Les objets vont s'envelopper sur plusieurs lignes si nécessaire */
    justify-content: center; /* Les objets sont centrés horizontalement */
    align-items: center; /* Alignement des objets au centre sur l'axe transversal */
    border-bottom: 5px solid #b43daa; /* Bordure inférieure de 5 pixels solide avec la couleur #b43daa */
}

/* Définition des styles pour les titres h1 à l'intérieur de l'élément <nav> */
nav h1 {
    color: #b43daa; /* Couleur du texte rose */
    font-family: 'Pokemon Solid', sans-serif; /* Utilisation de la police Playfair Display ou une police serif par défaut */
    font-size: 25px; /* Taille de police de 30 pixels */
}

/* Définition des styles pour les éléments avec la classe 'onglets' à l'intérieur de l'élément <nav> */
nav .onglets {
    margin-top: 3px; /* Marge supérieure de 3 pixels */
    margin-left: 150px; /* Marge gauche de 300 pixels */
}

/* Définition des styles pour les liens <a> à l'intérieur des éléments avec la classe 'onglets' à l'intérieur de l'élément <nav> */
nav .onglets a {
    text-decoration: none; /* Pas de décoration de texte (soulignement par défaut) */
    color: #000; /* Couleur du texte noir */
    margin-right: 10px; /* Marge droite de 10 pixels */
    border-bottom: 1px solid #000; /* Bordure inférieure de 1 pixel solide avec la couleur noire */
    padding-bottom: 5px; /* Espacement intérieur inférieur de 5 pixels */
}


/* Définition des styles pour l'élément <header> */
header {
    display: flex; /* Utilisation du modèle de disposition flexbox */
    flex-direction: column; /* Les objets seront disposés en colonne */
    align-items: center; /* Alignement des objets au centre sur l'axe transversal */
    background: #000; /* Couleur de fond noire */
    background-size: cover; /* La taille de l'image de fond est ajustée pour couvrir tout l'élément */
    color: #fff; /* Couleur du texte blanc */
    padding: 25px; /* Espacement intérieur de 25 pixels */
}



@media screen and (max-width:680px){ /* Si la largeur de l'écran est inférieure ou égale à 680 pixels */
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card { /* Définition des styles pour les éléments avec la classe 'card' à l'intérieur de l'élément avec la classe 'main' */
        margin: 10px;
    }
    .main .content .card .right img{ /* Définition des styles pour les images à l'intérieur des éléments avec la classe 'right' à l'intérieur des éléments avec la classe 'card' à l'intérieur de l'élément avec la classe 'content' à l'intérieur de l'élément avec la classe 'main' */
        height:200px;
        width: 100%;
        margin-top: -0px;
    }
    .main .content .card{ /* Définition des styles pour les éléments avec la classe 'card' à l'intérieur de l'élément avec la classe 'content' à l'intérieur de l'élément avec la classe 'main' */
        display: block;
    }
    footer{ /* Définition des styles pour l'élément <footer> */
        padding: 30px;
    }
}

/* Définition */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 300px;
    gap: 10px;
}

/* Style pour chaque nom de Pokémon */
.basicinfo {
    display: grid;
    margin-right: 10px;
    font-weight: bold;
    background-color: rgb(137, 167, 197);
    border-radius: 1%;
}



/* Style pour les stats */
.location-container {
    display: grid;
    margin-right: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: l;
    align-items: flex-end;
    background-color: rgb(175, 0, 172);


}



/* Style pour le conteneur des attaques de Pokémon */
.version-container {
    display: grid;
    margin-right: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: l;
    align-items: flex-end;
    background-color: rgb(170, 197, 224);

}




/* Styles pour la barre de recherche */
#searchInput {
    padding: 8px;
    width: 200px;
}
  
#searchButton {
    padding: 8px;
    cursor: pointer;
}

.search-class {
    text-align: center;
    margin-top: 20px; 
    position: relative;
}
  
.search-results {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 10px;
    display: none; 
    max-width: 300px; 
}
